body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  flex: 1;
  background-color: #1f2937;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style-type: none;
  align-items: flex-start;
  flex: 1;
  margin-right: 50px;
  font-size: 18px;
  color: #e5e7eb;
}

.mod-one {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  flex: 1;
  justify-content: space-between;
}

.mod-one .title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin-left: 50px;
  align-items: center;
}

.mod-one .text {
  display: flex;
  margin-left: 50px;
}

.mod-one button {
  margin-left: 50px;
  width: 100px;
  background-color: #3882f6;
}

button{
  border-radius: 5px;
  height: 32px;
  width: 100px;
}

.image {
  display: flex;
  height: 175px;
  width: 250px;
  background-color: green;
  flex: auto;
  padding: 0;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.group-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.group-b {
  display: flex;
  flex: 1;
}

.mod-two {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.group-c {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: bolder;
  color: #1f2937;
  padding: 25px;
}

.info-con {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 52px;
}

.box {
  width: 150px;
  height: 150px;
  flex: auto;
  margin: auto;
  border-color: #3882f6;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}

.info {
  max-width: 200px;
}

.mod-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e5e7eb;
}

.quote {
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}

.auth {
  display: flex;
  justify-content: end;
  margin-left: 300px;
  margin-right: 300px;
}

.mod-four {
  display: flex;
  justify-content: center;
  max-width: 700px;
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #3882f6;

}

.group-d {
  flex: auto;
  
}

.group-e {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.footer {
  background-color: #1f2937;
  text-align: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 20px;